<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @category.nom %>
</p>

<%= link_to 'Modifier', edit_category_path(@category) %> |
<%= link_to 'Retourner à la liste des catégories', categories_path %>
